[Unit]
Description="http Interface Stunnel Tunnel - siteid eliteunithttpport"
After=multi-user.target

[Service]
ExecStart=/usr/bin/stunnel /u/tunnels/httpsecure-siteid-eliteunithttpport-tunnel
#User=pi
RestartSec=15
Restart=always
KillMode=mixed

[Install]
WantedBy=multi-user.target
