[Unit]
Description="DeltaQuest Stunnel Tunnel - siteid port"
After=network.target

[Service]
ExecStart=
RestartSec=15
Restart=always
KillMode=mixed

[Install]
WantedBy=multi-user.target
