[Unit]
Description='Socat Access Control Service 50'
After=network.target

[Service]
Type=simple
User=root
ExecStart=/bin/bash -C '/u/espbin/socat/startsocat50'
RestartSec=10
Restart=on-failure
KillMode=process
PIDFile=/var/run/socat50.pid

[Install]
WantedBy=multi-user.target
