[Unit]
Description='Socat Access Control Service 08'
After=network.target

[Service]
Type=simple
User=root
ExecStart=/bin/bash -C '/u/espbin/socat/startsocat08'
RestartSec=10
Restart=on-failure
KillMode=process
PIDFile=/var/run/socat08.pid

[Install]
WantedBy=multi-user.target
