[Unit]
Description='Socat Access Control Service 28'
After=network.target

[Service]
Type=simple
User=root
ExecStart=/bin/bash -C '/u/espbin/socat/startsocat_scripts/startsocat28'
RestartSec=10
Restart=on-failure
KillMode=process
PIDFile=/var/run/socat28.pid

[Install]
WantedBy=multi-user.target
