[Unit]
Description='Socat Access Control Service 27'
After=network.target

[Service]
Type=simple
User=root
ExecStart=/bin/bash -C '/u/espbin/socat/startsocat27'
RestartSec=10
Restart=on-failure
KillMode=process
PIDFile=/var/run/socat27.pid

[Install]
WantedBy=multi-user.target
