[Unit]
Description="http Interface Stunnel Tunnel - siteid eliteunithttpport"
After=network.target

[Service]
ExecStart=/usr/bin/stunnel /u/tunnels/http-interface-siteid-eliteunithttpport-tunnel
RestartSec=15
Restart=always
KillMode=mixed

[Install]
WantedBy=multi-user.target
